.apartment-image {
  width: 100%;
  padding-left: 10px;
}

.apartment-image-div {
  width: 50%;
  display: flex;
  justify-content: center;
}

.table {
  --bs-table-bg: transparent;
  --bs-table-accent-bg: transparent;
  --bs-table-striped-color: #212529;
  --bs-table-striped-bg: rgba(0, 0, 0, 0.05);
  --bs-table-active-color: #212529;
  --bs-table-active-bg: rgba(0, 0, 0, 0.1);
  --bs-table-hover-color: #212529;
  --bs-table-hover-bg: rgba(0, 0, 0, 0.075);
  width: 800px;
  margin-bottom: 1rem;
  color: #212529;
  vertical-align: top;
  border-color: #dee2
}

.td_border{
  border: 1px solid black;
  text-align: center;
  vertical-align: middle;
  font-size: 14px;
  padding: 2px;
}

.td_left{
  border: 1px solid black;
  text-align: left;
  vertical-align: middle;
}

.td_space{
  border: 1px solid black;
  text-align: center;
  vertical-align: middle;
  width: 100px;
}
