<div class="main">
  <h2 class="f-page-title">공지사항 상세</h2>

  <div style="width: 80vw; height: 80vh; padding-left: 100px; padding-top: 20px; padding-right: 100px;">
    <div class="row">
      <div class="col-10">
        {{data.title}}
      </div>
      <div class="col-2">
        {{data.createDate | date}}
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <hr />
      </div>
      <div class="col-12" style="white-space: pre-wrap">
        {{data.description}}
      </div>
      <div class="col-12">
        <div class="image-div" *ngFor="let attachment of data.attachment">
          <img class="image-width" [src]="getImageUrl(attachment?.filePath, attachment?.fileName)" />
          <!-- <img class="apartment-image" [src]="facility.imageUrl" /> -->
        </div>
      </div>
      <div class="col-12">
        <hr />
      </div>
      <div class="col-12">
        <button mat-raised-button color="primary" routerLink="..">목록</button>
      </div>
    </div>
  </div>
</div>