<mat-tab-group>
  <mat-tab label="설치설정">
    <div>
      <label>설치일</label>
      <mat-form-field appearance="fill">
        <mat-label>Choose a date</mat-label>
        <input matInput [matDatepicker]="picker" [value]="date" />
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
    </div>
  </mat-tab>

  <mat-tab label="발전량데이터설정"> </mat-tab>

  <mat-tab label="레퍼런스모듈설정"> </mat-tab>
</mat-tab-group>
