<div class="main">
  <div class="col-md-12">
    <div class="box">
      <div class="box1">
        <div class="box1_header">
          <div class="box1_header_1">
            <div class="title">201동 - 인버터1</div>
            <div class="radio_box">
              <div class="radio_input1" (click)="radio_input1_click()">
                <input id="radio_time" type="radio" name="time" value="1" />
                시간별
              </div>
              <div class="radio_input2" (click)="radio_input2_click()">
                <input id="radio_day" type="radio" name="time" value="2" /> 일별
              </div>
              <div class="radio_input3" (click)="radio_input3_click()">
                <input id="radio_month" type="radio" name="time" value="3" />
                월별
              </div>
            </div>
            <div class="padding_text">조회기간 :</div>
            <div class="date_box">
              <div id="date_start" class="data_box">
                <input
                  class="data_input"
                  matInput
                  [matDatepicker]="startPicker"
                  [value]="startDate"
                  (dateChange)="onStartDaySelected($event.value)"
                />
                <mat-datepicker-toggle
                  matSuffix
                  [for]="startPicker"
                ></mat-datepicker-toggle>
                <mat-datepicker
                  #startPicker
                  panelClass="example-month-picker"
                ></mat-datepicker>
              </div>

              <div id="date_start_month" class="data_month_box">
                <input
                  class="data_input"
                  matInput
                  [matDatepicker]="startMonthPicker"
                  [value]="startMonthDate"
                />
                <mat-datepicker-toggle
                  matSuffix
                  [for]="startMonthPicker"
                ></mat-datepicker-toggle>
                <mat-datepicker
                  #startMonthPicker
                  startView="year"
                  (yearSelected)="onStartMonthSelected($event)"
                  (monthSelected)="
                    onStartMonthMonthSelected($event, startMonthPicker)
                  "
                  panelClass="example-month-picker"
                >
                </mat-datepicker>
              </div>

              <div id="date_space" class="date_space">~</div>

              <div id="date_end" class="data_box">
                <input
                  class="data_input"
                  matInput
                  [matDatepicker]="endPicker"
                  [value]="endDate"
                  (dateChange)="onEndDaySelected($event.value)"
                />
                <mat-datepicker-toggle
                  matSuffix
                  [for]="endPicker"
                ></mat-datepicker-toggle>
                <mat-datepicker
                  #endPicker
                  panelClass="example-month-picker"
                ></mat-datepicker>
              </div>
              <div id="date_end_month" class="data_month_box">
                <input
                  class="data_input"
                  matInput
                  [matDatepicker]="endMonthPicker"
                  [value]="endMonthDate"
                />
                <mat-datepicker-toggle
                  matSuffix
                  [for]="endMonthPicker"
                ></mat-datepicker-toggle>
                <mat-datepicker
                  #endMonthPicker
                  startView="year"
                  (yearSelected)="onStartMonthSelected($event)"
                  (monthSelected)="
                    onEndMonthMonthSelected($event, endMonthPicker)
                  "
                  panelClass="example-month-picker"
                >
                </mat-datepicker>
              </div>
            </div>
            <div class="search_box">
              <button class="search_btn" (click)="search_click()">조회</button>
            </div>
          </div>

          <div class="box1_header_2">
            <div class="inv_box">
              <button class="inv_btn" [routerLink]="['/module-generation']">
                인버터 변경
              </button>
            </div>
            <div class="table_box">
              <button
                class="table_btn"
                id="table_btn"
                (click)="table_btn_click()"
              >
                Table
              </button>
            </div>
            <div class="chart_box">
              <button
                class="chart_btn"
                id="chart_btn"
                (click)="chart_btn_click()"
              >
                Chart
              </button>
            </div>
            <div class="download_box">
              <button class="download_btn">Download</button>
            </div>
          </div>
        </div>
      </div>

      <div class="box2">
        <div class="box2_chart_box" id="box2_chart_box">
          <canvas id="chart_module">{{ chart }}</canvas>
        </div>

        <div class="box2_table_box" id="box2_table_box">
          <table class="table">
            <tr class="table_tr">
              <td class="table_td_header">날짜</td>
              <ng-container *ngFor="let data of tableHeadData">
                <td class="table_td_header"># {{ data }}</td>
              </ng-container>
            </tr>
            <ng-container *ngIf="gbn === 'time'">
              <ng-container *ngFor="let data1 of tableData; index as i">
                <tr class="table_tr">
                  <td *ngIf="i.toString().length === 1" class="table_td">
                    0{{ i }} 시
                  </td>
                  <td *ngIf="i.toString().length !== 1" class="table_td">
                    {{ i }} 시
                  </td>
                  <ng-container *ngFor="let data2 of data1">
                    <td *ngIf="data2 === 0" class="table_td">-</td>
                    <td *ngIf="data2 !== 0" class="table_td">
                      {{ data2 }} kWh
                    </td>
                  </ng-container>
                </tr>
              </ng-container>
            </ng-container>
            <ng-container *ngIf="gbn !== 'time'">
              <ng-container *ngFor="let data1 of tableDayData; index as i">
                <tr class="table_tr">
                  <td class="table_td">{{ data1 }}</td>
                  <ng-container *ngFor="let data2 of tableData[i]">
                    <td *ngIf="data2 === 0" class="table_td">-</td>
                    <td *ngIf="data2 !== 0" class="table_td">
                      {{ data2 }} kWh
                    </td>
                  </ng-container>
                </tr>
              </ng-container>
            </ng-container>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
