@import "../../theme/flosys.scss";

html,
body {
  height: 100%;
}

body {
  display: flex;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #f5f5f5;
}

.signin-main {
  width: 100%;
  max-width: 550px;
}

.signin-title {
  font-size: 2.5rem;
  font-weight: 500;
}

.form-logo-title {
  font-weight: 800;
}

.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
}


.form-signin .checkbox {
  font-weight: 400;
}

.form-signin .form-floating:focus-within {
  z-index: 2;
}

.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}
@media (min-width: 768px) {
    .bd-placeholder-img-lg {
      font-size: 3.5rem;
    }
}

.full-overlay {
  position: absolute;
  display: block;
  margin: auto;
  top: 0;
  left: 0;
  z-index: 2;
  width: 100% !important;
  height: 100% !important;
  background-color: black;
  opacity: 0.5;
}

.full-overlay-no-opacity {
  position: absolute;
  display: block;
  margin: auto;
  top: 0;
  left: 0;
  z-index: 2;
  width: 100% !important;
  height: 100% !important;
}

.message-box {
  width: 30%;
  height: 30%;
  background-color: white;
  color: black;
  z-index: 10;
  display: flex;
  flex-wrap: wrap;
  border-radius: 20px;
}

.message-content-title {
  width: 100%;
}

.message-content {
  width: 100%;
  margin-bottom: 50px;
}