<div class="main">
  <div class="flex-container">
    <div>
      <span>정렬순서</span>
    </div>
    <div class="push">
      <mat-form-field class="input" appearance="fill">
        <mat-label>시작일 선택</mat-label>
        <input
          matInput
          [matDatepicker]="startPicker"
          [value]="startDate"
          [min]="startMinDate"
          [max]="startMaxDate"
          (dateChange)="onStartDateSelected($event.value)"
        />
        <mat-datepicker-toggle
          matSuffix
          [for]="startPicker"
        ></mat-datepicker-toggle>
        <mat-datepicker #startPicker panelClass="example-month-picker">
        </mat-datepicker>
      </mat-form-field>
      <mat-form-field class="input" appearance="fill">
        <mat-label>끝일 선택</mat-label>
        <input
          matInput
          [matDatepicker]="endPicker"
          [value]="endDate"
          [min]="endMinDate"
          [max]="endMaxDate"
          (dateChange)="onEndDateSelected($event.value)"
        />
        <mat-datepicker-toggle
          matSuffix
          [for]="endPicker"
        ></mat-datepicker-toggle>
        <mat-datepicker #endPicker panelClass="example-month-picker">
        </mat-datepicker>
      </mat-form-field>
      <button class="f-mat-tab-button" (click)="updatePage()" mat-raised-button>
        조회
      </button>
      <button
        class="f-mat-tab-button"
        (click)="close()"
        mat-raised-button
        color="primary"
      >
        닫기
      </button>
    </div>
  </div>
  <div style="height: 80vh; width: 100%" class="text-center">
    <!-- <pagination-controls
      (pageChange)="changePage($event)"></pagination-controls> -->
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">인버터</th>
          <!-- <th scope="col">설비구분</th> -->
          <th scope="col">알람 일자</th>
          <th scope="col">알람코드</th>
          <th scope="col">알람내용</th>
          <th scope="col">확인</th>
          <th scope="col">확인 일자</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of collection.data | paginate : config">
          <td>{{ item.insName }}</td>
          <td scope="row">
            {{ item.dateTime | date : "yyyy-MM-dd HH:mm:ss" }}
          </td>
          <td>{{ item.message.code }}</td>
          <td>{{ item.message.message }}</td>
          <td>N</td>
          <td></td>
        </tr>
      </tbody>
    </table>

    <pagination-template
      #p="paginationApi"
      [id]="config.id"
      (pageChange)="changePage($event)"
    >
      <div class="custom-pagination">
        <div class="pagination-previous" [class.disabled]="p.isFirstPage()">
          <span *ngIf="!p.isFirstPage()" (click)="p.previous()"> &lt; </span>
        </div>
        <div
          class="page-number"
          *ngFor="let page of p.pages"
          [class.current]="p.getCurrent() === page.value"
        >
          <span
            (click)="p.setCurrent(page.value)"
            *ngIf="p.getCurrent() !== page.value"
            >{{ page.label }}</span
          >
          <div *ngIf="p.getCurrent() === page.value">
            <span>{{ page.label }}</span>
          </div>
        </div>
        <div class="pagination-next" [class.disabled]="p.isLastPage()">
          <!-- <span *ngIf="!p.isLastPage()" (click)="p.next()"> &gt; </span> -->
          <span *ngIf="!p.isLastPage()"> &gt; </span>
        </div>
      </div>
    </pagination-template>
  </div>
</div>
