<div class="main">
  <div class="col-md-12">
    <div class="box">
      <div class="box1">
        <div class="box1_header">
          <div class="box1_header_1">
            <div class="title">이용률 추이</div>

            <div class="radio_box">
              <div class="radio_input1" (click)="radio_input1_click()">
                <input
                  id="radio_time"
                  type="radio"
                  name="time"
                  [value]="1"
                  [checked]="true"
                />
                시간별
              </div>
              <div class="radio_input2" (click)="radio_input2_click()">
                <input id="radio_day" type="radio" name="time" [value]="2" />
                일별
              </div>
              <div class="radio_input3" (click)="radio_input3_click()">
                <input id="radio_month" type="radio" name="time" [value]="3" />
                월별
              </div>
            </div>

            <div class="padding_text">조회기간 :</div>

            <div class="date_box">
              <!-- Day pickers -->
              <div id="date_start" class="data_box1">
                <input
                  class="data_input"
                  matInput
                  [matDatepicker]="startPicker"
                  [value]="startDate"
                  (dateChange)="onStartDaySelected($event.value)"
                />
                <mat-datepicker-toggle
                  matSuffix
                  [for]="startPicker"
                ></mat-datepicker-toggle>
                <mat-datepicker
                  #startPicker
                  panelClass="example-month-picker"
                ></mat-datepicker>
              </div>

              <div id="date_start_month" class="data_month_box">
                <input
                  class="data_input"
                  matInput
                  [matDatepicker]="startMonthPicker"
                  [value]="startMonthDate"
                />
                <mat-datepicker-toggle
                  matSuffix
                  [for]="startMonthPicker"
                ></mat-datepicker-toggle>
                <mat-datepicker
                  #startMonthPicker
                  startView="year"
                  (yearSelected)="onStartMonthSelected($event)"
                  (monthSelected)="
                    onStartMonthMonthSelected($event, startMonthPicker)
                  "
                  panelClass="example-month-picker"
                ></mat-datepicker>
              </div>

              <div id="date_space" class="date_space">~</div>

              <div id="date_end" class="data_box2">
                <input
                  class="data_input"
                  matInput
                  [matDatepicker]="endPicker"
                  [value]="endDate"
                  (dateChange)="onEndDaySelected($event.value)"
                />
                <mat-datepicker-toggle
                  matSuffix
                  [for]="endPicker"
                ></mat-datepicker-toggle>
                <mat-datepicker
                  #endPicker
                  panelClass="example-month-picker"
                ></mat-datepicker>
              </div>

              <div id="date_end_month" class="data_month_box">
                <input
                  class="data_input"
                  matInput
                  [matDatepicker]="endMonthPicker"
                  [value]="endMonthDate"
                />
                <mat-datepicker-toggle
                  matSuffix
                  [for]="endMonthPicker"
                ></mat-datepicker-toggle>
                <mat-datepicker
                  #endMonthPicker
                  startView="year"
                  (yearSelected)="onStartMonthSelected($event)"
                  (monthSelected)="
                    onEndMonthMonthSelected($event, endMonthPicker)
                  "
                  panelClass="example-month-picker"
                ></mat-datepicker>
              </div>
            </div>

            <div class="search_box">
              <button class="search_btn" (click)="search_click()">조회</button>
            </div>
          </div>

          <div class="box1_header_2">
            <div class="download_box">
              <button
                class="download_btn"
                (click)="downloadToExcel('이용률 추이')"
              >
                Download
              </button>
            </div>
          </div>
        </div>
      </div>

      <!-- Custom split legend (same placement/layout as PR) -->
      <div class="legend-wrap">
        <span #legendGen></span>
        <span #legendRate></span>
      </div>

      <div class="box2">
        <div class="box2_chart_box" id="box2_chart_box">
          <!-- Horizontal scroll wrapper; fixed-height viewport prevents vertical growth -->
          <div class="chart-scroll">
            <div class="chart-viewport">
              <canvas id="chart_use_rate" class="chart_module">{{
                chart
              }}</canvas>
            </div>
          </div>
        </div>

        <div class="box2_table_box" id="box2_table_box">
          <div class="table-scroll">
            <table id="table" class="table">
              <tr class="table_tr">
                <!-- sticky first header cell -->
                <td class="table_td_header sticky-col">구분</td>

                <!-- TIME HEADER -->
                <ng-container *ngIf="gbn === 'time'; else dateHeader">
                  <ng-container
                    *ngIf="
                      tableData?.length && tableData[0]?.length;
                      else timeHeaderFallback
                    "
                  >
                    <ng-container *ngFor="let _ of tableData[0]; index as i">
                      <td class="table_td_header">
                        {{ i < 10 ? "0" + i : i }}시
                      </td>
                    </ng-container>
                  </ng-container>
                  <ng-template #timeHeaderFallback>
                    <ng-container
                      *ngFor="
                        let i of [
                          0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15,
                          16, 17, 18, 19, 20, 21, 22, 23
                        ]
                      "
                    >
                      <td class="table_td_header">
                        {{ i < 10 ? "0" + i : i }}시
                      </td>
                    </ng-container>
                  </ng-template>
                </ng-container>

                <!-- DAY / MONTH HEADER (Korean strings: YYYY.MM.DD / YYYY.MM) -->
                <ng-template #dateHeader>
                  <ng-container *ngFor="let d of dateList">
                    <td class="table_td_header">{{ d }}</td>
                  </ng-container>
                </ng-template>
              </tr>

              <!-- BODY -->
              <ng-container *ngFor="let row of tableData; index as i">
                <tr class="table_tr">
                  <!-- sticky first column -->
                  <td class="table_td sticky-col">{{ tableHeadData[i] }}</td>

                  <!-- Exactly one <td> per column (either kWh or %) -->
                  <ng-container *ngFor="let val of row">
                    <!-- Power Generation row -->
                    <ng-container
                      *ngIf="
                        !tableHeadData[i]?.includes('이용률');
                        else rateCell
                      "
                    >
                      <td class="table_td td-num">
                        {{ isNonZero(val) ? val + " kWh" : "-" }}
                      </td>
                    </ng-container>

                    <!-- Utilization Rate row -->
                    <ng-template #rateCell>
                      <td class="table_td td-num">
                        {{ isNonZero(val) ? val + " %" : "-" }}
                      </td>
                    </ng-template>
                  </ng-container>
                </tr>
              </ng-container>

              <!-- Empty-state row -->
              <tr *ngIf="!tableData || !tableData.length">
                <td class="table_td" colspan="1000">데이터가 없습니다.</td>
              </tr>
            </table>
          </div>
          <!-- /table-scroll -->
        </div>
      </div>
    </div>
  </div>
</div>
