
.theme-dark {

    .card1 {
        background-color:rgb(255, 255, 255);
        border-bottom-color:rgb(228, 233, 242);
        border-bottom-left-radius:4px;
        border-bottom-right-radius:4px;
        border-bottom-style:solid;
        border-bottom-width:1px;
        border-image-outset:0;
        border-image-repeat:stretch;
        border-image-slice:100%;
        border-image-source:none;
        border-image-width:1;
        border-left-color:rgb(228, 233, 242);
        border-left-style:solid;
        border-left-width:1px;
        border-right-color:rgb(228, 233, 242);
        border-right-style:solid;
        border-right-width:1px;
        border-top-color:rgb(228, 233, 242);
        border-top-left-radius:4px;
        border-top-right-radius:4px;
        border-top-style:solid;
        border-top-width:1px;
        box-shadow:none;
        box-sizing:border-box;
        color:rgb(34, 43, 69);
        display:block;
        width:100%;
        height:100%;
        flex-direction:column;
        font-family:"Open Sans", sans-serif;
        font-size:15px;
        font-weight:400;
        line-height:20px;
        margin-bottom:30px;
        text-align:left;
        text-size-adjust:100%;
        -webkit-font-smoothing:antialiased;
        -webkit-tap-highlight-color:rgba(0, 0, 0, 0);

        .card1-header {
            border-bottom-color:rgb(237, 241, 247);
            border-bottom-style:solid;
            border-bottom-width:1px;
            border-top-left-radius:4px;
            border-top-right-radius:4px;
            box-sizing:border-box;
            color:rgb(34, 43, 69);
            display:block;
            font-family:"Open Sans", sans-serif;
            font-size:15px;
            font-weight:600;
            height:57px;
            width:100%;
            line-height:24px;
            padding-bottom:16px;
            padding-left:24px;
            padding-right:24px;
            padding-top:16px;
            text-align:left;
            text-size-adjust:100%;
            -webkit-font-smoothing:antialiased;
            -webkit-tap-highlight-color:rgba(0, 0, 0, 0);

            .card1-header-icon {
                font-size:2rem;
            }
            .card1-header-title {
                display:inline;
                height:100%;
                font-size:1.2rem;
                margin-left:10px;
                text-align:center;           
            }
        }
        .card1-body {
            box-sizing:border-box;
            color:rgb(34, 43, 69);
            display:flex;
            position:relative;
            width:100%;
            height:80%;
            flex-basis:0%;
            flex-grow:1;
            flex-shrink:1;
            font-family:"Open Sans", sans-serif;
            font-size:15px;
            font-weight:400;
            line-height:20px;
            overflow-x:auto;
            overflow-y:auto;
            padding-bottom:0px;
            padding-left:0px;
            padding-right:0px;
            padding-top:0px;
            text-align:left;
            text-size-adjust:100%;
            -webkit-font-smoothing:antialiased;
            -webkit-tap-highlight-color:rgba(0, 0, 0, 0);
            
            .card1-body-focus {
                background-color:RGB(247,249,252);
            }
        }

        
    }
}