<div class="toolbar">
  <div class="toolbar-header flex-row-jspb-act">
    <div class="flex-row-jst-act">
      <i
        *ngIf="login == true"
        class="menu-icon bi bi-list"
        (click)="onMenuToggle()"
      ></i>
      <div
        style="
          padding-left: 10px;
          font-size: clamp(1rem, 2vw, 1.2rem);
          font-weight: bold;
          cursor: pointer;
        "
        [routerLink]="['/']"
      >
        CAPTURE STAR M
      </div>
      <div class="user-site">{{ user?.site?.description || "" }}</div>
    </div>
    <div *ngIf="login == true" class="flex-row-jed-act">
      <div
        style="
          padding-left: 10px;
          font-size: clamp(0.9rem, 2vw, 1rem);
          font-weight: bold;
          color: RGB(150, 150, 150);
        "
      >
        {{ user?.account || "" }}
      </div>
      <i class="login bi bi-person pointer" [routerLink]="'/my'"></i>
      <i class="login bi bi-box-arrow-right" (click)="logout()"></i>
    </div>
  </div>
</div>

<mat-drawer-container autosize>
  <mat-drawer
    #drawer
    *ngIf="login == true && themeService.theme == 'original'"
    class="sidenav-menu"
    [mode]="isMobileAndTablet ? 'over' : 'side'"
    [opened]="sidenavOpened"
  >
    <div class="sidenav-button">
      <div
        class="sidenav-text"
        style="
          display: flex;
          vertical-align: middle;
          align-self: center;
          margin-left: 10px;
        "
      >
        MENU
      </div>
    </div>
    <mat-divider></mat-divider>

    <div class="sidenav-button" [routerLink]="['/']">
      <fa-icon class="sizenav-icon" [icon]="faTh" size="1x"></fa-icon>
      <div class="sidenav-text">대시보드</div>
    </div>
    <mat-divider></mat-divider>

    <div class="sidenav-button" [routerLink]="['invertor/sunlight-array']">
      <fa-icon class="sizenav-icon" [icon]="faMapMarkedAlt" size="1x"></fa-icon>
      <div class="sidenav-text">발전소정보</div>
    </div>
    <mat-divider></mat-divider>

    <div class="sidenav-button" [routerLink]="['module-generation']">
      <fa-icon class="sizenav-icon" [icon]="faClone" size="1x"></fa-icon>
      <div class="sidenav-text">모듈 발전량</div>
    </div>
    <mat-divider></mat-divider>

    <!-- <div class="sidenav-button" [routerLink]="['install']">
      <fa-icon class="sizenav-icon" [icon]="faMapMarkedAlt" size="1x"></fa-icon>
      <div class="sidenav-text">태양광설치맵</div>
    </div>
    <mat-divider></mat-divider> -->

    <div class="sidenav-button" [routerLink]="['generationquantity']">
      <fa-icon class="sizenav-icon" [icon]="faSolarPanel" size="1x"></fa-icon>
      <div class="sidenav-text">어레이 발전량</div>
    </div>
    <mat-divider></mat-divider>

    <div class="sidenav-button" [routerLink]="['efficiency']">
      <fa-icon class="sizenav-icon" [icon]="faBolt" size="1x"></fa-icon>
      <div class="sidenav-text">인버터 효율/알림</div>
    </div>
    <mat-divider></mat-divider>

    <mat-expansion-panel
      (opened)="panelOpenState = true"
      (closed)="panelOpenState = false"
      style="margin: 0; padding: 0; border-radius: 0; box-shadow: none"
    >
      <mat-expansion-panel-header
        style="margin: 0; padding: 0; border-radius: 0"
      >
        <mat-panel-title>
          <div class="sidenav-button">
            <fa-icon
              class="sizenav-icon"
              [icon]="faCloudSunRain"
              size="1x"
            ></fa-icon>
            <div class="sidenav-text">기상정보</div>
          </div>
        </mat-panel-title>
      </mat-expansion-panel-header>
      <div class="sidenav-button" [routerLink]="['temphumi']">
        <fa-icon
          class="sizenav-icon"
          [icon]="faTemperatureHigh"
          size="1x"
        ></fa-icon>
        <div class="sidenav-text">온도/습도</div>
      </div>
      <div class="sidenav-button" [routerLink]="['wnd']">
        <fa-icon class="sizenav-icon" [icon]="faWind" size="1x"></fa-icon>
        <div class="sidenav-text">풍향/풍속</div>
      </div>
      <div class="sidenav-button" [routerLink]="['solar']">
        <fa-icon class="sizenav-icon" [icon]="faSun" size="1x"></fa-icon>
        <div class="sidenav-text">일사량</div>
      </div>
    </mat-expansion-panel>
    <mat-divider></mat-divider>

    <!-- <div class="sidenav-button" [routerLink]="['solareffici']">
      <fa-icon class="sizenav-icon" [icon]="faChargingStation" size="1x"></fa-icon>
      <div class="sidenav-text">복합차트</div>
    </div>
    <mat-divider></mat-divider> -->

    <!--    <div class="sidenav-button" [routerLink]="['custom']">-->
    <!--      <fa-icon class="sizenav-icon" [icon]="faChartBar" size="1x"></fa-icon>-->
    <!--      <div class="sidenav-text">커스텀콤보차트</div>-->
    <!--    </div>-->
    <!--    <mat-divider></mat-divider>-->

    <mat-expansion-panel
      (opened)="panelOpenState = true"
      (closed)="panelOpenState = false"
      style="margin: 0; padding: 0; border-radius: 0; box-shadow: none"
    >
      <mat-expansion-panel-header
        style="margin: 0; padding: 0; border-radius: 0"
      >
        <mat-panel-title>
          <div class="sidenav-button">
            <fa-icon
              class="sizenav-icon"
              [icon]="faChartBar"
              size="1x"
            ></fa-icon>
            <div class="sidenav-text">분석</div>
          </div>
        </mat-panel-title>
      </mat-expansion-panel-header>
      <div class="sidenav-button" [routerLink]="['analyze/environment']">
        <fa-icon
          class="sizenav-icon"
          [icon]="faCloudSunRain"
          size="1x"
        ></fa-icon>
        <div class="sidenav-text">환경과 발전량</div>
      </div>
      <div class="sidenav-button" [routerLink]="['analyze/temperature']">
        <fa-icon
          class="sizenav-icon"
          [icon]="faTemperatureHigh"
          size="1x"
        ></fa-icon>
        <div class="sidenav-text">온도와 발전량</div>
      </div>
      <div class="sidenav-button" [routerLink]="['analyze/pr']">
        <fa-icon class="sizenav-icon" [icon]="faBolt" size="1x"></fa-icon>
        <div class="sidenav-text">PR 추이</div>
      </div>
      <div class="sidenav-button" [routerLink]="['analyze/use-rate']">
        <fa-icon class="sizenav-icon" [icon]="faUser" size="1x"></fa-icon>
        <div class="sidenav-text">이용률 추이</div>
      </div>
    </mat-expansion-panel>

    <div class="sidenav-button" [routerLink]="['notification']">
      <fa-icon class="sizenav-icon" [icon]="faClipboard" size="1x"></fa-icon>
      <div class="sidenav-text">공지사항</div>
    </div>
    <mat-divider></mat-divider>

    <div class="sidenav-button" [routerLink]="['question']">
      <fa-icon class="sizenav-icon" [icon]="faCommentDots" size="1x"></fa-icon>
      <div class="sidenav-text">문의사항</div>
    </div>
    <mat-divider></mat-divider>

    <mat-expansion-panel
      (opened)="panelOpenState = true"
      (closed)="panelOpenState = false"
      style="margin: 0; padding: 0; border-radius: 0; box-shadow: none"
    >
      <mat-expansion-panel-header
        style="margin: 0; padding: 0; border-radius: 0"
      >
        <mat-panel-title>
          <div class="sidenav-button">
            <fa-icon class="sizenav-icon" [icon]="faTable" size="1x"></fa-icon>
            <div class="sidenav-text">다운로드</div>
          </div>
        </mat-panel-title>
      </mat-expansion-panel-header>
      <div class="sidenav-button" [routerLink]="['download/invertor']">
        <fa-icon class="sizenav-icon" [icon]="faSitemap" size="1x"></fa-icon>
        <div class="sidenav-text">인버터 데이터</div>
      </div>
      <!--  <div class="sidenav-button" [routerLink]="['download/optimizer']">
        <fa-icon class="sizenav-icon" [icon]="faSolarPanel" size="1x"></fa-icon>
        <div class="sidenav-text">옵티마이저 데이터</div>
      </div> -->
      <div class="sidenav-button" [routerLink]="['download/weather']">
        <fa-icon
          class="sizenav-icon"
          [icon]="faCloudSunRain"
          size="1x"
        ></fa-icon>
        <div class="sidenav-text">기상반 데이터</div>
      </div>
    </mat-expansion-panel>
    <mat-divider></mat-divider>
  </mat-drawer>
  <router-outlet (activate)="onRouterOutletActivate($event)"></router-outlet>
</mat-drawer-container>

<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
