<div class="p-4">
  <h2>내 정보</h2>
  <form>
    <div>
      <mat-form-field appearance="fill">
        <mat-label>Account</mat-label>
        <input matInput disabled class="full-width" type="text" [ngModel]="user.account" name="account" />
      </mat-form-field>
    </div>
    <div>
      <mat-form-field appearance="fill">
        <mat-label>기존 비밀번호</mat-label>
        <input matInput class="full-width" type="password" placeholder="기존 비밀번호" [(ngModel)]="user.oldPassword"
          name="oldPassword" />
      </mat-form-field>
    </div>
    <div>
      <mat-form-field class="full-width" appearance="fill">
        <mat-label>신규 비밀번호</mat-label>
        <input matInput type="password" placeholder="신규 비밀번호" [(ngModel)]="user.newPassword" name="newPassword" />
      </mat-form-field>
    </div>
    <div>
      <mat-form-field class="full-width" appearance="fill">
        <mat-label>비밀번호 확인</mat-label>
        <input matInput type="password" placeholder="비밀번호 확인" [(ngModel)]="user.checkPassword" name="checkPassword" />
      </mat-form-field>
    </div>
    <div class="text-right">
      <button mat-raised-button (click)="changePassword()">저장</button>
    </div>
  </form>
</div>