<div class="main-container">
  <div class="item-title">
    <div class="update-time mr-4">
      업데이트: {{ updateTime | date : "yyyy.MM.dd HH:mm:ss" }}
    </div>
  </div>

  <div class="content-container">
    <!-- item 1  -->
    <!-- solar power -->
    <div class="item-1">
      <div class="card-containers">
        <app-solar-power-board
          class="card-top"
          [config]="config.solar"
          #solarEnergyGenerationBarChart
        ></app-solar-power-board>
        <app-total-generation-board
          style="width: 100%"
          [config]="config.solar"
        ></app-total-generation-board>
      </div>
    </div>
    <!-- item 2 -->

    <div class="item-2">
      <!-- utilization rate -->
      <div class="card-container">
        <app-solar-power-board
          [config]="config.utilizationRate"
          #solarEnergyGenerationBarChart
          class="card-top"
        ></app-solar-power-board>
        <app-total-generation-board
          class="max-width"
          [config]="config.utilizationRate"
        ></app-total-generation-board>
      </div>

      <!-- Power generation performance-->
      <div class="card-container">
        <app-solar-power-board
          class="card-top"
          [config]="config.performanceRatio"
          #solarEnergyGenerationBarChart
        ></app-solar-power-board>
        <app-total-generation-board
          class="max-width"
          [config]="config.performanceRatio"
        ></app-total-generation-board>
      </div>
    </div>
    <!-- item 3  -->

    <div class="item-3">
      <!-- weather information-->
      <div class="card-container">
        <app-weather-board
          [temp]="temp"
          [humi]="humi"
          [wind]="wind"
          [solarGHI]="solarGHI"
          [solarDNI]="solarDNI"
          [solarDHI]="solarDHI"
        ></app-weather-board>
      </div>

      <!-- Conversion efficiency -->
      <div class="card-container">
        <app-solar-power-board
          class="card-top"
          [config]="config.conversionEfficiency"
          #solarEnergyGenerationBarChart
        ></app-solar-power-board>

        <app-total-generation-board
          style="width: 100%"
          [config]="config.conversionEfficiency"
        ></app-total-generation-board>
      </div>
    </div>
  </div>
</div>
