<div class="dashboard-wrapper">
  <div class="item-title">
    <div class="update-time mr-4">
      업데이트: {{ updateTime | date : "yyyy.MM.dd HH:mm:ss" }}
    </div>
  </div>

  <!-- 태양광 발전 -->
  <div class="dashboard-box full-width">
    <app-solar-power-board
      class="dashboard-panel"
      [config]="config.solar"
      #solarEnergyGenerationBarChart
    ></app-solar-power-board>
    <app-total-generation-board
      class="dashboard-panel"
      [config]="config.solar"
    ></app-total-generation-board>
  </div>

  <!-- 이용률 + 발전성능 -->
  <div class="dashboard-row">
    <div class="dashboard-box half-width">
      <app-solar-power-board
        class="dashboard-panel"
        [config]="config.utilizationRate"
        #solarEnergyGenerationBarChart
      ></app-solar-power-board>
      <app-total-generation-board
        class="dashboard-panel"
        [config]="config.utilizationRate"
      ></app-total-generation-board>
    </div>

    <div class="dashboard-box half-width">
      <app-solar-power-board
        class="dashboard-panel"
        [config]="config.performanceRatio"
        #solarEnergyGenerationBarChart
      ></app-solar-power-board>
      <app-total-generation-board
        class="dashboard-panel"
        [config]="config.performanceRatio"
      ></app-total-generation-board>
    </div>
  </div>

  <!-- 기상정보 + 변환효율 -->
  <div class="dashboard-row">
    <app-weather-board
      class="half-width"
      [temp]="temp"
      [humi]="humi"
      [winddir]="dir"
      [wind]="wind"
      [solar]="solar"
    ></app-weather-board>

    <div class="dashboard-box half-width">
      <app-solar-power-board
        class="dashboard-panel"
        [config]="config.conversionEfficiency"
        #solarEnergyGenerationBarChart
      ></app-solar-power-board>
      <app-total-generation-board
        class="dashboard-panel"
        [config]="config.conversionEfficiency"
      ></app-total-generation-board>
    </div>
  </div>
</div>
