@font-face {
  font-family: 'Hahmlet-Bold';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2110@1.0/Hahmlet-Bold.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css');

* {
  padding: 0;
  margin: 0;
  line-height: 1.6;
  letter-spacing: -0.04em;
  word-break: keep-all;
  font-family: Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, 'Helvetica Neue', 'Segoe UI', 'Apple SD Gothic Neo', 'Noto Sans KR', 'Malgun Gothic', sans-serif;
  color: #222;
}

@import "../common.css";
@import "../index.css";
@import "../color.css";
@import "../progress-bar.css";

section {
  width: 100%;
  height: 100%;
  border: 1px solid #E5EAF3;
  float: left;
  background-color: #fff;
  box-sizing: border-box;
  margin-bottom: 1%;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  padding: 20px;
  overflow: hidden;
}

.grid {
  display: grid;
  height:100%;
  grid-template-columns: repeat(6, 1fr);
  gap: 5px;
  grid-auto-rows: minmax(auto, auto);
}


.item1 {
  background-color: RGB(255,182,30);
  overflow:hidden;
  display: flex;
  flex-direction:column;
  justify-content:space-between;
  align-items:center;
  grid-column: 1 / 2;
  grid-row: 1;
}

.item2 {
  align-items: stretch;
  grid-column: 2 / 7;
  grid-row: 1;
  height:33%;

  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 5px;
  grid-template-rows: repeat(2,1fr);

  .icon {
    display:inline-block;
    margin:10px;
  }

  .label {
    display:inline-block;
    margin:10px;
  }

  .value {
    display:inline-block;
  }

  .unit {
    display:inline-block;
  }

  .temp {
    grid-column: 1/2;
    grid-row:1/2;
  }
  .humi {
    grid-column: 2/3;
    grid-row:1/2;
  }
  .dir {
    grid-column: 3/4;
    grid-row:1/2;

  }
  .wind {
    grid-column: 1/2;
    grid-row:2/3;

  }
  .solar {
    grid-column: 2/3;
    grid-row:2/3;

  }
}



.status {
  display:flex;
  flex-direction:column;
  align-items:center;
}


// --------------------------

.icon {
  border:solid;
  border-radius:15px;
  padding:5px;
  background-color:#3366ff;
  color:white;
  font-size:3rem;
  font-weight:bold;
}

.label {
  font-size:0.8rem;
}

.value {
  font-size:1.4rem;
  font-weight:bold;
}

.unit {
  font-size:0.8rem;
}

.dashboard-icon {
  max-width: 80px;
}