<h3 class="f-page-title">인버터 데이터 다운로드</h3>
<div>
  <div class="f-text-cvt">
    <mat-form-field class="input" appearance="fill" style="margin-right: 8px">
      <mat-label>시작일</mat-label>
      <input
        matInput
        [matDatepicker]="startDailyPicker"
        [value]="startDailyDate"
        [min]="startMinDailyDate"
        [max]="startMaxDailyDate"
        (dateChange)="onStartDailyDaySelected($event.value)"
      />
      <mat-datepicker-toggle
        matSuffix
        [datepicker]="startDailyPicker"
      ></mat-datepicker-toggle>
      <mat-datepicker #startDailyPicker panelClass="example-month-picker">
      </mat-datepicker>
    </mat-form-field>
    <mat-form-field class="input" appearance="fill">
      <mat-label>종료일</mat-label>
      <input
        matInput
        [matDatepicker]="endDailyPicker"
        [value]="endDailyDate"
        [min]="endMinDailyDate"
        [max]="endMaxDailyDate"
        (dateChange)="onEndDailyDaySelected($event.value)"
      />
      <mat-datepicker-toggle
        matSuffix
        [datepicker]="endDailyPicker"
      ></mat-datepicker-toggle>
      <mat-datepicker #endDailyPicker panelClass="example-month-picker">
      </mat-datepicker>
    </mat-form-field>
  </div>
  <div class="f-text-cvt p-4">
    <div
      style="
        background: white;
        padding: 16px;
        border-radius: 8px;
        border: 1px solid lightgrey;
        margin-top: 8px;
      "
    >
      <!-- 옵티마이저 -->
      <h3 class="sub-heading">옵티마이저</h3>
      <div
        class="checkbox-vertical-list"
        style="display: flex; flex-direction: column"
      >
        <div
          style="display: flex; width: 100%"
          *ngFor="let oFacility of optimizersFacilities"
        >
          <div style="display: flex; width: 100%" *ngIf="oFacility.id !== 0">
            <ng-container *ngFor="let optimizer of optimizers; index as i">
              <div
                class="checkbox-div"
                *ngIf="oFacility.id == optimizer.facilityId"
              >
                <mat-checkbox
                  class="example-margin"
                  [(ngModel)]="optimizer.selected"
                  (change)="selectOptimizer(optimizer.name, optimizer.insNum)"
                >
                  {{ oFacility.title }} {{ optimizer.name }}
                </mat-checkbox>
              </div>
            </ng-container>
            <div class="checkbox-div">
              <mat-checkbox
                class="example-margin"
                style="font-weight: bold"
                [(ngModel)]="oFacility.selected"
                (change)="selectOptimizerFacility(oFacility)"
              >
                {{ oFacility.title }} 전체
              </mat-checkbox>
            </div>
          </div>
        </div>
      </div>

      <h3 class="sub-heading" style="margin-left: 24px">발전량</h3>
      <div class="checkbox-vertical-list" style="margin-left: 24px">
        <div class="checkbox-div">
          <mat-checkbox
            [(ngModel)]="optimizerSelect.dcv"
            (change)="toggleCheckbox($event, 'dcv'); toggleAllDC($event, false)"
          >
            전압
          </mat-checkbox>
        </div>
        <div class="checkbox-div">
          <mat-checkbox
            [(ngModel)]="optimizerSelect.dca"
            (change)="toggleCheckbox($event, 'dca'); toggleAllDC($event, false)"
          >
            전류
          </mat-checkbox>
        </div>
        <div class="checkbox-div">
          <mat-checkbox
            style="font-weight: bold"
            [(ngModel)]="optimizerSelect.dc"
            (change)="toggleAllDC($event, true)"
          >
            전체
          </mat-checkbox>
        </div>
      </div>

      <h3 class="sub-heading" style="margin-left: 24px">기타</h3>
      <div class="checkbox-vertical-list" style="margin-left: 24px">
        <div class="checkbox-div">
          <mat-checkbox
            [(ngModel)]="optimizerSelect.eday"
            (change)="toggleCheckbox($event, 'eday'); checkAllEtc()"
          >
            금일 발전량
          </mat-checkbox>
        </div>
        <div class="checkbox-div">
          <mat-checkbox
            [(ngModel)]="optimizerSelect.accumulatePower"
            (change)="toggleCheckbox($event, 'accumulatePower'); checkAllEtc()"
          >
            누적 발전량
          </mat-checkbox>
        </div>
        <div class="checkbox-div">
          <mat-checkbox
            [(ngModel)]="optimizerSelect.power"
            (change)="toggleCheckbox($event, 'power'); checkAllEtc()"
          >
            현재 발전량
          </mat-checkbox>
        </div>
        <div class="checkbox-div">
          <mat-checkbox
            [(ngModel)]="optimizerSelect.status"
            (change)="toggleCheckbox($event, 'status'); checkAllEtc()"
          >
            동작상태
          </mat-checkbox>
        </div>
        <div class="checkbox-div">
          <mat-checkbox
            [(ngModel)]="optimizerSelect.tempPv"
            (change)="toggleCheckbox($event, 'tempPv'); checkAllEtc()"
          >
            PV후면온도
          </mat-checkbox>
        </div>
        <div class="checkbox-div">
          <mat-checkbox
            [(ngModel)]="optimizerSelect.tempExt"
            (change)="toggleCheckbox($event, 'tempExt'); checkAllEtc()"
          >
            건물외벽온도
          </mat-checkbox>
        </div>
        <div class="checkbox-div">
          <mat-checkbox
            [(ngModel)]="optimizerSelect.tempAmb"
            (change)="toggleCheckbox($event, 'tempAmb'); checkAllEtc()"
          >
            공기중온도
          </mat-checkbox>
        </div>
        <div class="checkbox-div">
          <mat-checkbox
            style="font-weight: bold"
            [(ngModel)]="optimizerSelect.etc"
            (change)="toggleAllEtc($event)"
          >
            전체
          </mat-checkbox>
        </div>
      </div>
    </div>

    <div class="download-button">
      <button mat-raised-button (click)="download()">다운로드</button>
    </div>
  </div>
  <div
    *ngIf="showProgressSpinner == true"
    class="full-overlay d-flex justify-content-center align-items-center"
  >
    <mat-spinner color="secondary"></mat-spinner>
  </div>
</div>
