@import "../../../theme/flosys.scss";

.chart {
  display: block;
  position: relative;
  margin: auto;
  min-height: 300px; // 👈 모바일에서 보이게 하기
  width: 90vw;
}

@include desktop-1024 {
    .input { 
        display:inline-block;
    }
    .chart {
        display:block;
        position:relative;
        margin:auto;
        height:60vh;
        width:80vw;
    }
    .table {
        position:relative;
        margin:auto;
        height:20vh;
        width:80vw;

        overflow-y:scroll;

        tr {
            margin:auto;

            th {
                margin:auto;
            }
            td {
                margin:auto;
            }
        }
    }
}