<section class="power-comparison">
  <div class="title-wrap" [routerLink]="['solar']">
    <h2 class="title">일사량 비교</h2>
    <span class="title-description">RADIATION COMPARISON</span>
  </div>

  <table>
    <tr>
      <td>
        <span class="color-grey">이달 총 누적일사량</span>
        <div class="num">
          <strong>{{data ? (data[2]?.summary[0].eday | number : '1.3') : 0}}</strong>
          <span> w/m²</span>
        </div>
      </td>
      <td>
        <span class="color-grey">전월대비</span>
        <div class="progress pink">
          <div class="progress-percent">{{data ? ((data[2]?.summary[0].eday / data[2]?.summary[1].eday * 100) | number : '1.0-0') : 0}}%</div>
          <div class="progress-bar" style="max-width: {{data != null && data.length >= 3 ? (data[2]?.summary[0].eday / data[2]?.summary[1].eday * 100) : 0}}%">
          </div>
        </div>
      </td>
      <td>
        <div *ngIf="data != null && data.length >= 3 && data[2] != null && data[2].summary.length == 2 && (data[2]?.summary[0].eday / data[2]?.summary[1].eday * 100) >= 90" class="icon-status">
          <img [src]="'assets/Images/icon-round-good.svg'" alt="양호 아이콘" />
          <span>양호</span>
        </div>
        <div *ngIf="data != null && data.length >= 3 && data[2] != null && data[2].summary.length == 2 && ((data[2].summary[0].eday / data[2].summary[1].eday * 100) >= 60 && (data[2].summary[0].eday / data[2].summary[1].eday * 100) &lt; 90)" class="icon-status">
          <img [src]="'assets/Images/icon-round-normal.svg'" alt="보통 아이콘" />
          <span>보통</span>
        </div>
        <div *ngIf="data != null && data.length >= 3 && data[2] != null && data[2].summary.length != 2 && (data[2].summary[0].eday / data[2].summary[1].eday * 100 &lt; 60)" class="icon-status">
          <img [src]="'assets/Images/icon-round-bad.svg'" alt="부족 아이콘" />
          <span>부족</span>
        </div>
        <div *ngIf="data == null || data.length &lt; 3 || data[2] == null || data[2].summary.length != 2" class="icon-status">
          <span>비교불가</span>
        </div>
      </td>
    </tr>
    <tr>
      <td>
        <span class="color-grey">일 누적일량</span>
        <div class="num">
          <strong>{{data && data[0].summary.length >= 1 ? (data[0].summary[0].eday | number : '1.3') : 0}}</strong>
          <span> w/m²</span>
        </div>
      </td>
      <td>
        <span class="color-grey">전월대비</span>
        <div class="progress purple">
          <div class="progress-percent">{{data && data[0].summary.length >= 1 ? ((data[0]?.summary[0].eday / data[0]?.summary[1].eday * 100) | number : '1.0-0') : 0}}%</div>
          <div class="progress-bar" style="max-width: {{data && data[0].summary.length >= 1 ? (data[0].summary[0].eday / data[0].summary[1].eday * 100) : 0}}%">
          </div>
        </div>
      </td>
      <td>
        <div *ngIf="data != null && data.length >= 1 && data[0] != null && data[0].summary.length == 2 && (data[0]?.summary[0].eday / data[0]?.summary[1].eday * 100) >= 90" class="icon-status">
          <img [src]="'assets/Images/icon-round-good.svg'" alt="양호 아이콘" />
          <span>양호</span>
        </div>
        <div *ngIf="data != null && data.length >= 3 && data[0] != null && data[0].summary.length == 2 && ((data[0].summary[0].eday / data[0].summary[1].eday * 100) >= 60 && (data[0].summary[0].eday / data[0].summary[1].eday * 100) &lt; 90)" class="icon-status">
          <img [src]="'assets/Images/icon-round-normal.svg'" alt="보통 아이콘" />
          <span>보통</span>
        </div>
        <div *ngIf="data != null && data.length >= 3 && data[0] != null && data[0].summary.length == 2 && (data[0].summary[0].eday / data[0].summary[1].eday * 100 &lt; 60)" class="icon-status">
          <img [src]="'assets/Images/icon-round-bad.svg'" alt="부족 아이콘" />
          <span>부족</span>
        </div>
        <div *ngIf="data == null || data.length &lt; 3 || data[0] == null || data[0].summary.length != 2" class="icon-status">
          <span>비교불가</span>
        </div>
      </td>
    </tr>
    <tr>
      <td>
        <span class="color-grey">주 누적일량</span>
        <div class="num">
          <strong>{{data ? (data[1]?.summary[0].eday | number : '1.3') : 0}}</strong>
          <span> w/m²</span>
        </div>
      </td>
      <td>
        <span class="color-grey">전월대비</span>
        <div class="progress green">
          <div class="progress-percent">{{data ? ((data[1]?.summary[0].eday / data[1]?.summary[1].eday * 100) | number : '1.0-0') : 0}}%</div>
          <div class="progress-bar" style="max-width: {{data != null ? (data[1]?.summary[0].eday / data[1]?.summary[1].eday * 100) : 0}}%">
          </div>
        </div>
      </td>
      <td>
        <div *ngIf="data != null && data.length >= 3 && data[1] != null && data[1].summary.length == 2 && (data[1]?.summary[0].eday / data[1]?.summary[1].eday * 100) >= 90" class="icon-status">
          <img [src]="'assets/Images/icon-round-good.svg'" alt="양호 아이콘" />
          <span>양호</span>
        </div>
        <div *ngIf="data != null && data.length >= 3 && data[1] != null && data[1].summary.length == 2 && ((data[1].summary[0].eday / data[1].summary[1].eday * 100) >= 60 && (data[1].summary[0].eday / data[1].summary[1].eday * 100) &lt; 90)" class="icon-status">
          <img [src]="'assets/Images/icon-round-normal.svg'" alt="보통 아이콘" />
          <span>보통</span>
        </div>
        <div *ngIf="data != null && data.length >= 3 && data[1] != null && data[1].summary.length == 2 && (data[1].summary[0].eday / data[1].summary[1].eday * 100 &lt; 60)" class="icon-status">
          <img [src]="'assets/Images/icon-round-bad.svg'" alt="부족 아이콘" />
          <span>부족</span>
        </div>
        <div *ngIf="data == null || data.length &lt; 3 || data[1] == null || data[1].summary.length != 2" class="icon-status">
          <span>비교불가</span>
        </div>
      </td>
    </tr>
    <!-- <tr>
      <td>
        <span class="color-grey">월 누적일량</span>
        <div class="num">
          <strong>{{data ? (data[2]?.summary[0].eday | number : '1.3') : 0}}</strong>
          <span> w/m²</span>
        </div>
      </td>
      <td>
        <span class="color-grey">전월대비</span>
        <div class="progress purple">
          <div class="progress-percent">{{data ? ((data[2]?.summary[0].eday / data[2]?.summary[1].eday * 100) | number : '1.0-0') : 0}}%</div>
          <div class="progress-bar" style="max-width: {{data != null ? (data[2]?.summary[0].eday / data[2]?.summary[1].eday * 100) : 0}}%">
          </div>
        </div>
      </td>
      <td>
        <div *ngIf="data != null && data.length >= 3 && data[2] != null && data[2].summary.length == 2 && (data[2]?.summary[0].eday / data[2]?.summary[1].eday * 100) >= 90" class="icon-status">
          <img [src]="'assets/Images/icon-round-good.svg'" alt="양호 아이콘" />
          <span>양호</span>
        </div>
        <div *ngIf="data != null && data.length >= 3 && data[2] != null && data[2].summary.length == 2 && ((data[2].summary[0].eday / data[2].summary[1].eday * 100) >= 60 && (data[2].summary[0].eday / data[2].summary[1].eday * 100) &lt; 90)" class="icon-status">
          <img [src]="'assets/Images/icon-round-normal.svg'" alt="보통 아이콘" />
          <span>보통</span>
        </div>
        <div *ngIf="data != null && data.length >= 3 && data[2] != null && data[2].summary.length == 2 && (data[2].summary[0].eday / data[2].summary[1].eday * 100 &lt; 60)" class="icon-status">
          <img [src]="'assets/Images/icon-round-bad.svg'" alt="부족 아이콘" />
          <span>부족</span>
        </div>
        <div *ngIf="data == null || data.length &lt; 3 || data[2] == null || data[2].summary.length != 2" class="icon-status">
          <span>비교불가</span>
        </div>
      </td>
    </tr> -->
    <!-- <tr>
      <td>
        <span class="color-grey">년 누적일량</span>
        <div class="num">
          <strong>{{data ? (data[3]?.summary[0].eday | number : '1.3') : 0}}</strong>
          <span> w/m²</span>
        </div>
      </td>
      <td>
        <span class="color-grey">전월대비</span>
        <div class="progress pink">
          <div class="progress-percent">{{data && data.length >= 4 && data[3].summary.length == 2 ? ((data[3]?.summary[0].eday / data[3]?.summary[1].eday * 100) | number : '1.0-0') : 0}}%</div>
          <div class="progress-bar" style="max-width: {{data && data.length >= 4 && data[3].summary.length == 2 ? (data[3]?.summary[0].eday / data[3]?.summary[1].eday * 100) : 0}}%">
          </div>
        </div>
      </td>
      <td>
        <div *ngIf="data != null && data.length >= 4 && data[3] != null && data[3].summary.length == 2 && (data[3]?.summary[0].eday / data[3]?.summary[1].eday * 100) >= 90" class="icon-status">
          <img [src]="'assets/Images/icon-round-good.svg'" alt="양호 아이콘" />
          <span>양호</span>
        </div>
        <div *ngIf="data != null && data.length >= 4 && data[3] != null && data[3].summary.length == 2 && ((data[3].summary[0].eday / data[3].summary[1].eday * 100) >= 60 && (data[3].summary[0].eday / data[3].summary[1].eday * 100) &lt; 90)" class="icon-status">
          <img [src]="'assets/Images/icon-round-normal.svg'" alt="보통 아이콘" />
          <span>보통</span>
        </div>
        <div *ngIf="data != null && data.length >= 4 && data[3] != null && data[3].summary.length == 2 && (data[3].summary[0].eday / data[3].summary[1].eday * 100 &lt; 60)" class="icon-status">
          <img [src]="'assets/Images/icon-round-bad.svg'" alt="부족 아이콘" />
          <span>부족</span>
        </div>
        <div *ngIf="data == null || data.length &lt; 4 || data[3] == null || data[3].summary.length != 2" class="icon-status">
          <span>비교불가</span>
        </div>
      </td>
    </tr> -->
  </table>
</section>