<!--
<div *ngIf="themeService.layout == 'layout1'" class="card grid">
  <div class="item1">
    <div>
      <div class="dashboard-etitle">Status of Generation</div>
      <div class="dashboard-ktitle">발전현황</div>
    </div>
    <fa-icon class="icson" [icon]="faSolarPanel" size="5x" [styles]="{'stroke': 'red', 'color': 'white'}"></fa-icon>
  </div>
  <div class="item2">

    <bar-chart #barChart [labels]="chartLabels"></bar-chart>
  </div>
</div>


<div *ngIf="themeService.layout == 'original'" class="card1">
  <div class="card1-header">
    <i class="card1-header-icon bi bi-brightness-alt-high"></i>
    <div class="card1-header-title">Status of Generation 발전현황</div>
  </div>
  <div class="card1-body">
     <bar-chart id="chart" #barChart [labels]="chartLabels"></bar-chart>
   </div>
</div> -->

<section>
  <div class="title-wrap cursor-pointer" [routerLink]="['/generationquantity']">
    <h2 class="title">발전현황</h2>
    <span class="title-description">PV GENERATION TREND</span>
  </div>
  <bar-chart
    #barChart
    [labels]="chartLabels"
    width="300"
    height="100%"
  ></bar-chart>
</section>
