<h2 class="f-page-title">기상반 데이터 다운로드</h2>
<div>
  <div class="f-text-cvt">
    <mat-form-field class="input" appearance="fill">
      <mat-label>시작일 선택</mat-label>
      <input matInput [matDatepicker]="startDailyPicker" [value]="startDailyDate" [min]="startMinDailyDate"
             [max]="startMaxDailyDate" (dateChange)="onStartDailyDaySelected($event.value)">
      <mat-datepicker-toggle matSuffix [for]="startDailyPicker"></mat-datepicker-toggle>
      <mat-datepicker #startDailyPicker panelClass="example-month-picker">
      </mat-datepicker>
    </mat-form-field>
    <mat-form-field class="input" appearance="fill">
      <mat-label>끝일 선택</mat-label>
      <input matInput [matDatepicker]="endDailyPicker" [value]="endDailyDate" [min]="endMinDailyDate"
             [max]="endMaxDailyDate" (dateChange)="onEndDailyDaySelected($event.value)">
      <mat-datepicker-toggle matSuffix [for]="endDailyPicker"></mat-datepicker-toggle>
      <mat-datepicker #endDailyPicker panelClass="example-month-picker">
      </mat-datepicker>
    </mat-form-field>
  </div>
  <div class="f-text-cvt p-4">
    <h2>인버터 선택</h2>
    <div class="checkbox-vertical-list">
      <ng-container *ngFor="let facility of facilities; index as i">
          <mat-checkbox class="example-margin"
                        style="margin-right: 8px;"
                        [(ngModel)]="facility.selected"
                        (change)="selectFacility($event, facility.id, false)">
            {{facility.title}}
          </mat-checkbox>
      </ng-container>
      <div class="checkbox-div">
        <mat-checkbox class="example-margin"
                      style="font-weight: bold"
                      [(ngModel)]="facilityAll.selected"
                      (change)="selectFacility($event, null, true)">
           전체
        </mat-checkbox>
      </div>
    </div>
    <h2 class="sub-heading">입력(DC)</h2>
    <div class="checkbox-vertical-list">
      <div class="checkbox-div">
        <mat-checkbox [(ngModel)]="weatherSelect.wd" (change)="toggleCheckbox($event, 'wd'); checkAll();">풍향
        </mat-checkbox>
      </div>
      <div class="checkbox-div">
        <mat-checkbox [(ngModel)]="weatherSelect.ws" (change)="toggleCheckbox($event, 'ws'); checkAll();">풍속
        </mat-checkbox>
      </div>
      <div class="checkbox-div">
        <mat-checkbox [(ngModel)]="weatherSelect.temperature"
                      (change)="toggleCheckbox($event, 'temperature'); checkAll();">대기온도
        </mat-checkbox>
      </div>
      <div class="checkbox-div">
        <mat-checkbox [(ngModel)]="weatherSelect.humidity" (change)="toggleCheckbox($event, 'humidity'); checkAll();">
          습도
        </mat-checkbox>
      </div>
      <div class="checkbox-div">
        <mat-checkbox [(ngModel)]="weatherSelect.irradiance"
                      (change)="toggleCheckbox($event, 'irradiance'); checkAll();">일사량
        </mat-checkbox>
      </div>
      <div class="checkbox-div">
        <mat-checkbox [(ngModel)]="weatherSelect.eday"
                      (change)="toggleCheckbox($event, 'eday'); checkAll();">일누적일사량
        </mat-checkbox>
      </div>
      <div class="checkbox-div">
        <mat-checkbox [(ngModel)]="weatherSelect.all" (change)="toggleAll()">전체</mat-checkbox>
      </div>
    </div>

    <div class="download-button">
      <button mat-raised-button (click)="download()">다운로드</button>
    </div>
  </div>
</div>
<div *ngIf="showProgressSpinner==true" class="full-overlay d-flex justify-content-center align-items-center">
  <mat-spinner color="secondary"></mat-spinner>
</div>
