@import "../../theme/flosys.scss";

.checkbox-vertical-list {
  display: flex;
}

.checkbox-div {
  padding: 0 10px 10px 0;
}

.sub-heading {
  margin-top: 10px;
}

.download-button {
  margin-top: 20px;
}

.full-overlay {
  position: absolute;
  display: block;
  margin: auto;
  top: 0;
  left: 0;
  z-index: 2;
  width: 100% !important;
  height: 100% !important;
  background-color: black;
  opacity: 0.5;
}

.full-overlay ::ng-deep .mat-progress-spinner circle, .mat-spinner circle {
  stroke: white;
}