<section class="notice">
  <div class="title-wrap">
    <h2 class="title">공지사항</h2>
    <span class="title-description">NOTICES</span>
  </div>
  <table>
    <thead>
      <tr>
        <td>No</td>
        <td>제목</td>
        <td>등록일</td>
      </tr>
    </thead>
    <tr *ngFor="let item of collection.data | paginate : config">
      <th scope="row">{{ item.id }}</th>
      <td [routerLink]="['/notification', item.id]">{{ item.title }}</td>
      <td>{{ item.createDate | date : "yyyy.MM.dd" }}</td>
    </tr>
  </table>
</section>
