@import "./flosys-variable.scss";

@mixin mobile {
    @media (min-width: #{$breakpoint-mobile}) and (max-width: #{$breakpoint-tablet - 1px}) {
      @content;
    }
  }
  
@mixin tablet {
  @media (min-width: #{$breakpoint-tablet}) and (max-width: #{$breakpoint-desktop-1024 - 1px}) {
    @content;
  }
}

@mixin desktop-1024 {
  @media (min-width: #{$breakpoint-desktop-1024}) {
    @content;
  }
}

@mixin desktop-hd {     // 1920
  @media (min-width: #{$breakpoint-desktop-hd}) {
    @content;
  }
}

@mixin desktop-fhd {
  @media (min-width: #{$breakpoint-desktop-fhd}) {
    @content;
  }
}



// Flex Column -----------------------------
@mixin mx-flex-col-jct-act {
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
}
@mixin mx-flex-col-jspa-act {
    display:flex;
    flex-direction:column;
    justify-content:space-around;
    align-items:center;
}
@mixin mx-flex-col-jspa-asch {
    display:flex;
    flex-direction:column;
    justify-content:space-around;
    align-items:stretch;
}

// Flex Row ----------------------------
@mixin mx-flex-row-jspa-act {
    display:flex;
    flex-direction:row;
    justify-content:space-around;
    align-items:center;
}
// JustifyStart AlignCenter
@mixin mx-flex-row-jst-act {
    display:flex;
    flex-direction:row;
    justify-content:start;
    align-items:center;
}
@mixin mx-flex-row-jed-act {
  display:flex;
  flex-direction:row;
  justify-content:end;
  align-items:center;
}
@mixin mx-flex-row-jspb-act {
    display:flex;
    flex-direction:row;
    justify-content:space-between;
    align-items:center;
}
@mixin mx-flex-row-jspb-aed {
    display:flex;
    flex-direction:row;
    justify-content:space-between;
    align-items:flex-end;
}