$breakpoint-mobile: 335px;
$breakpoint-tablet: 758px;
$breakpoint-desktop-1024: 1024px;
$breakpoint-desktop-hd: 1280px;
$breakpoint-desktop-fhd: 1920px;
$breakpoint-desktop-qhd: 2560px;
$breakpoint-desktop-uhd: 3840px;
